@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

/* ORGANIZANDO O CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ao mudar algumas estruturas como, width or height, tudo eh somado. Para evitar, use o box-sizing */
}

html {
    font-family: 'Lato', sans-serif;
    color: white;
}

h1 {
    font-family: 'Lato', sans-serif;
    color: white;
}

body { 
    background-color: #30302E;
    padding-top: 50px;
    margin: 0;
    font-family: 'Lato', sans-serif;
} 

header{
    width: 100%;
}

/* HEADER */

.header {
    position: absolute;
    top: 0; /* Ao deixar position FIXED, eh necessario especificar aonde exatamente na tela ficara o nosso header.*/
    left: 0; 
    right: 0; 
    width: 100%;
    background-color: rgb(255, 0, 0); 
    z-index: 1000; /* Em que ordem o elemento deve ser empilhado sobre os outros */
    align-items: center; 

    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: row;
    text-transform: uppercase;
    height: 50px;
}

.header a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.titulo {
    letter-spacing: 0.4rem;
    font-size: 1.8rem;
    cursor: pointer;
    width: 100%;
}

.linkss {
    display: flex;
    list-style: none;
    gap: 20px;
    font-weight: bold;
}

.icones {
    display: flex;
    list-style: none;
    gap: 20px;
    font-weight: bold;
}

/* DESCRIÇÃO */

.logo{
    justify-content: center;
    margin: 0;
}

.logoFOCUS {
    width: 25%;
    margin: 0;
    justify-content: center;
}

.descricao {
    justify-content: center; 
    text-align: center;
}

.intro-site h1{
    font-size: 90px;
}

.intro-site h3{
    font-size: 50px;
}

/* FOTOS */

.fotos{
    justify-content: center; 
    text-align: center;
}

.fotos h1{
    padding-top: 1%;
    font-size: 60px;

}

.p-uni{
    text-decoration: underline;
    text-underline-offset: 4px; /* Ajuste o valor conforme desejado */
    font-size: 30px;
    padding-top: 20px;
}

.fotosuni2-list {
    list-style: none;
    display: flex; /* Use flexbox para alinhar as imagens na horizontal */
    justify-content: center; /* Centralize as imagens horizontalmente */
    align-items: center; /* Centralize as imagens verticalmente */
    height: 800px; /* Altura desejada para a linha de imagens */
}

/* Estilize as imagens */
.fotosuni2-list li {
    margin-right: 75px; /* Adicione um pequeno espaço horizontal entre as imagens */
}

.fotosuni2 {
    max-width: 500px; /* Largura máxima desejada para as imagens (ajuste conforme necessário) */
}






















/* VIDEO E MAPA */

.video{
    width: 40%;
    padding-top: 20px;
}

.gmap{
    width: 40%;
    height: 500px;

}

.p-vid{
    text-decoration: underline;
    text-underline-offset: 4px; /* Ajuste o valor conforme desejado */
}
.div-video{
    justify-content: center; 
    text-align: center; 
    padding-top: 30px;
}

.mapa{
    justify-content: center; 
    text-align: center; 
}

/* RESPONSIVIDADE */

@media screen and (max-width: 1218px) {
    body { 
        padding-top: 80px; 
    } 
    .linkss {
        display: flex;
        justify-content: center; 
        text-align: center; 
        flex-wrap: wrap; 
    }

    .header {
        display: block;
        height: 80px;
    }

    .titulo {
        text-align: center; 
        width: 100%;
        padding-bottom: 10px;
        padding-top: 5px;
    }

    .header a {
        display: inline-block; 
        text-align: left;
    }

    .video{
        width: 60%;
    }

    .gmap{
        width: 50%;
        height: 300px;

    }
    
    .icones {
        display: flex;
        font-weight: bold;
        justify-content: center; 
    }

    .logoFOCUS {
        width: 50%;
        margin: 0;
        justify-content: center;
    }

    .intro-site h1{
        font-size: 300%;
    }
    
    .intro-site h3{
        font-size: 230%;
    }

}

@media screen and (max-width: 426px) {
    body { 
        padding-top: 163px; 
    } 

    .titulo {
        font-size: 1.2rem;
        padding-bottom: 5px;
    }

    .linkss {
        display: block;
        text-align: center;
        letter-spacing: 0.2rem;
        font-size: 0.7rem;
    }

    .linkss a {
        padding: 2.5px;
    }
    
    .header {
        display: block;
        height: 163px;
    }

    .video{
        width: 100%;
    }

    .gmap{
        width: 100%;
        height: 300px;
    }

    .icones {
        display: flex;
        font-weight: bold;
        justify-content: center; 

    }

    .logoFOCUS {
        width: 75%;
        margin: 0;
        justify-content: center;
    }

    .intro-site h1{
        font-size: 200%;
    }
    
    .intro-site h3{
        font-size: 170%;
    }

    
    .fotosuni2-list{
        margin-right: 15px; /* Adicione um pequeno espaço horizontal entre as imagens */
        justify-content: space-between; /* Alinha as imagens horizontalmente com espaço igual entre elas */
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 426px) {
    .header{
        position: fixed;
    }
}

