@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

/* ORGANIZANDO O CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ao mudar algumas estruturas como, width or height, tudo eh somado. Para evitar, use o box-sizing */
}

html {
    font-family: 'Lato', sans-serif;
    background-color: rgb(255, 255, 255);
}

h1 {
    font-family: 'Lato', sans-serif;
}

body { 
    /* background: linear-gradient((rgba(17,17,17,0.8))); INSERIR UM FUNDO; */
    padding-top: 70px; /* Altura do seu cabeçalho (ajuste conforme necessário) */
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: rgb(255, 255, 255);
} 

.header {
    position: fixed;
    top: 0; /* Ao deixar position FIXED, eh necessario especificar aonde exatamente na tela ficara o nosso header.*/
    left: 0; 
    right: 0; 

    background-color: rgb(255, 0, 0); /* Cor de fundo do cabeçalho (pode ajustar a cor e a opacidade conforme necessário) */
    z-index: 1000; /* Em que ordem o elemento deve ser empilhado sobre os outros */
    align-items: center; /* Centraliza verticalmente o conteúdo */

    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: row;
    text-transform: uppercase;
    height: 70px;
}

.header a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.titulo {
    letter-spacing: 0.4rem;
    font-size: 1.8rem;
    cursor: pointer;
}

.linkss {
    display: flex;
    list-style: none;
    gap: 20px;
    font-weight: bold;
}

@media screen and (max-width: 1218px) {
    .linkss {
        display: flex;
        justify-content: center; /* Centralize os elementos da lista horizontalmente */
        text-align: center; /* Alinhe o texto ao centro */
        flex-wrap: wrap; /* Quebre em várias linhas se necessário */
    }

    .header {
        display: block;

    }

    .titulo {
        text-align: center; /* Alinhe o texto ao centro */
    }

    .header a {
        display: inline-block; /* Coloque os ícones na mesma linha */
        text-align: left; /* Alinhe os ícones à esquerda */
    }
}

@media screen and (max-width: 640px) {
    .linkss {
        display: block;
        text-align: center; /* Alinhe o texto ao centro */
        letter-spacing: 0.2rem;
    }

    .header {
        display: block;
        height: 155px;
    }

    body { 
        padding-top: 155px; /* Altura do seu cabeçalho (ajuste conforme necessário) */
    } 
}
